body {
  font-family: sans-serif;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  align-items: center;
  align-content: center;
  text-align: center;
}

#nameBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*padding: 2px;*/
  /*border: #3b9e3d 1px dotted;*/
}
#centre {
  font-size: 3VW;
  width: 15%;
  font-weight: 800;
}
#left-decision-buttons,
#right-decision-buttons {
    width: 42.5%;
    /*border: #333 1px dotted;*/
}

#buttons {
width: 100%;
display: flex;

}
#reset-button {
background-color: transparent;
padding: 0;
cursor: pointer;
width: 33%;
z-index: 111;
}
#menu-icon {
cursor: pointer;
width: 33%;
z-index: 111;
}
#lmenu-icon {
background-color: transparent;
padding: 0;
cursor: pointer;
width: 33%;
z-index: 111;
}
#rocket-icon {
background-color: transparent;
padding: 0;
cursor: pointer;
width: 33%;
z-index: 111;
}

/*
#buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
*/
.material-symbols-outlined {
  font-size: 3.5vw;
  cursor: pointer;
}

.decision-buttons {
  display: flex;
  flex-direction: column;
}

/* 決まり手ボタン */
.decision-button {
	font-size: 1.5vw;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 0px;
    margin: auto 0px;
    padding: 0.2rem 0.2rem;
    background: linear-gradient(to top, #bbb, #eee);
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    z-index: 110;
    position: relative;
}

.decision-button .cap-big {
  text-transform: uppercase;
  font-size: 2.5Vw;
  font-weight: bold;
}

.of-button {
  font-size: 1.5vw;
}

#leftScore::first-letter,
#rightScore::first-letter {
    font-size: 50vmin;
    padding: 0% 0;
    margin: 0% auto -0% auto;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    z-index: 0;
    position: relative;
    line-height: 1;
}
#leftScore,
#rightScore {
    font-size: 9vw;
    /*border: 1px #333 dotted;*/
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-pane, .right-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  /*border: 1px #333 dotted;*/
}

.center-pane {
  width: 20%;
  text-align: center;
}
#decision-log {
  list-style: none;
  padding: 0;
  max-height: 80%;
}
#decision-log li{
  font-size: 2vw;
  border-bottom: 1px solid #ccc;
}

#left-player-name, #right-player-name {
  font-size: 3vw;
  margin: -5vmin 0 0;
  color: #333;
}
div#left-player-name, div#right-player-name{
  width:100%;
}

#footer {
  text-align: center;
  padding: 0px;
  font-size: 1.5vw;
}

#adspace {
  text-align: center;
  padding: 10px;
}

#setting-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 2px solid #333;
  z-index: 1000;
}

#setting-form h2, #setting-form h3 {
  margin: 10px 0;
}

#setting-form label {
  margin-right: 3px;
}

#setting-form select, #setting-form input[type="text"], #setting-form input[type="number"] {
  margin-bottom: 10px;
}
#setting-form input[type="text"], #setting-form input[type="number"]{
  max-width: 50px;
}

.btnlink a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: blue;
}
#sac {
  padding: 0.7rem 2rem;
  background-image: linear-gradient(to right, #27acd9 0%, #b4e12b 100%);
  border-radius: 100vh;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	cursor: pointer;
}